.pagination {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  bottom: 10px;
  padding: 20px;
  background-color: #061339;
  color: #96a1d3;
  align-self: center;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  z-index: 2;
  @media screen and (max-width: 800px) {
    width: 100vw;
    bottom: 0px;
    position: fixed;
  }

  .current-page {
    font-size: 16px;
  }

  .pageination-btn {
    cursor: pointer;

    &:hover {
      color: lightskyblue;
    }
  }

  .page-one {
    color: #2f4073;
  }
}
