::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.description-card {
  position: fixed;
  top: 100px;
  right: 50px;
  padding-left: 15px;
  width: 40%;
  background-color: #162656;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(214, 209, 209);
  z-index: 3;
  overflow-y: scroll;
  overflow-x: none;

  .original-posting-btn {
    text-decoration: none;

    button {
      -webkit-appearance: none;
      padding: 10px;
      background-color: #a68930;
      border-radius: 5px;
      color: #061339;
      margin: 5px;
      font-family: "ZCOOL QingKe HuangYou", cursive;
      font-weight: bold;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: auto;
      &:hover {
        color: white;
      }
    }
  }

  @media screen and (max-width: 800px) {
    max-width: 80vw;
    width: 80vw;
    top: 20px;
    right: 25px;
  }

  .description-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
  .description-txt {
    height: 60vh;
  }

  img {
    height: 100px;
    width: 100px;
  }
}
