.description-card {
  position: fixed;
  width: 30vw;
  max-width: 30vw;
  min-height: 50vh;
  right: 50px;
  top: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: #162656;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(214, 209, 209);
  z-index: 3;

  @media screen and (max-width: 800px) {
    max-width: 80vw;
    width: 80vw;
    top: 20px;
    right: 25px;
  }


  .description-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
  .description-txt {
    overflow-y: scroll;
    overflow-x: none;
    height: 65vh;
  }

  img {
    height: 100px;
    width: 100px;
  }
}
