.description-card {
  position: fixed;
  width: 30vw;
  height: 50vh;
  right: 50px;
  top: 30px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: rgb(83, 82, 81);
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(201, 197, 197);
  font-weight: bold;
}
