.job-list {
  width: 50vw;
  border-right: 2px solid #061339;
  padding-right: 25px;
  @media screen and (max-width: 800px) {
      border-right: 0px;
  }

  .subtitle {
    padding: 10px;
    margin-top: 10vh;
    @media screen and (max-width: 800px) {
      margin-top: 22vh;
    }
  }
}
