.footer-container {
  display: flex;
  height: 50px;
  font-size: 12px;
  font-family: "Alata", sans-serif;
  color: gray;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  .link-container {
    color: gray;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}
