@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap");
.App {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 100px;

  .pagination {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    bottom: 10px;
    padding: 20px;
    background-color: white;
    color: rgb(0, 119, 255);
    align-self: center;
    border-radius: 5px;
    font-weight: bold;
    position: fixed;
    @media screen and (max-width: 800px) {
      width: 100vw;
      bottom: 0px;
    }

    .current-page {
      
      font-size: 16px;
    }
    
      .pageination-btn {
        cursor: pointer;

        &:hover {
          color: lightskyblue
        }
      }
  }

  .search-bar {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    max-width: 40vw;
    @media screen and (max-width: 800px) {
      width: 99vw;
      max-width: none;
      margin: 0px;
      border-radius: 0px;
    }


    .submit-btn {
      padding: 10px;
      background-color: rgb(30, 87, 243);
      border-radius: 5px;
      margin: 10px;
      font-family: "ZCOOL QingKe HuangYou", cursive;
      font-weight: bold;
      font-size: 16px;
      border: none;
      cursor: pointer;
      color: white;
      width: auto;
      &:hover {
        color: lightskyblue
      }
    }
    .description {
      padding: 10px;
      background-color: rgb(216, 228, 240);
      border-radius: 5px;
      margin: 10px;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
