@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap");
.App {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 100px;
  @media screen and (max-width: 800px) {
    align-items: center;
  }


  .search-bar {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    max-width: 40vw;
    box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
    @media screen and (max-width: 800px) {
      width: 99vw;
      max-width: none;
      margin: 0px;
      border-radius: 0px;
    }

    .submit-btn {
      padding: 10px;
      background-color: rgb(30, 87, 243);
      border-radius: 5px;
      margin: 10px;
      font-family: "ZCOOL QingKe HuangYou", cursive;
      font-weight: bold;
      font-size: 16px;
      border: none;
      cursor: pointer;
      color: white;
      width: auto;
      &:hover {
        color: lightskyblue;
      }
    }
    
  }
}


