.job-card-container {
  width: 50vw;
  height: 20vh;
  background-color: rgb(146, 153, 153);
  display: flex;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 15px 0px 10px -10px rgba(0, 0, 0, 0.51);
  @media screen and (max-width: 800px) {
    width: 90vw;
    margin: 2px;
    border-radius: 5px;
  }

  &:hover {
    transform: scale(1.01);
  }

  .job-card-logo {
    height: 85%;
    width: 30%;
    padding: 10px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      overflow: none;
      background-position: center;
      background-size: cover;
    }
  }
  .job-card-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        color: white;
      }
    }

    span {
      padding: 5px;
    }
  }
}
